@import "tailwindcss";

/* Restore default list styling */
ol {
  list-style: decimal;
  list-style-position: inside;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

menu {
  list-style: disc;
  list-style-position: inside;
}